<section class="card">
    <div class="card-body">
        <h1>Sobre o Notes App</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam illo saepe eos
            natus vitae aliquam accusamus incidunt fugit, quaerat ab?</p>
    </div>
</section>