<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card">
      <div class="card-header">
        Cadastro de Conta
      </div>
      <div class="card-body">
        <form action="/users/signup" method="post">
          <div class="mb-3">
            <input type="text" class="form-control" name="name" placeholder="Nome" required>
          </div>
          <div class="mb-3">
            <input type="email" class="form-control" name="email" placeholder="Email" required>
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" name="password" placeholder="Senha" required>
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" name="confirmPassword" placeholder="Confirme a senha" required>
          </div>
          <button class="btn btn-primary btn-block">
            Cadastrar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>